.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  width:100%;
  position:sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url(images/img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar{
  background-image: url(images/avatar.png);
}

.login{
  width: 40%;
  box-shadow: 8px 6px #4e4e4e;
}

.buttonLogin{
	margin-top: 17% !important;
	margin-bottom: 20% !important;
}

.buttonClick{
  width: 55%;
  height: 6vw;
  font-size: large !important;
}

.CourseTable{
  width: 70%;
  margin-left: 15%;
  background-color: #282c34;
  margin-top: 10vmin;
}

.GridCont {
  width: 60%;
  margin-top: 30%;
  margin-left: 20%;
  margin-bottom: 20%;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
